body {
    background-color: #f9ed75;
}
  
  .clear{
    clear: both;
  }
  
  
  .slide-toggle{
    display: none;
  }
  
  .slidemenu{
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .slidemenu a label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;
  
  }
  
  .slidemenu label:hover{
    cursor: pointer;
    color: #666;
  }
  
  .slidemenu label span{
    display: block;
    padding: 10px;    
  }
  
  .slidemenu label .icon{
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
  }
  
  /*Bar Style*/
  
  .slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .slider .bar{
    width: 25%;
    height: 5px;
    background: #333;
    border-radius: 5px;
  }
  
  /*Animations*/
  .slidemenu a, .slider .bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
  }
  
  /*Toggle*/
  
  .slidemenu .slide-toggle + a {
    opacity: 1;
  }
  
  
  
  .slidemenu a:active ~ .slider .bar{ margin-left: 0; }
  .slidemenu a:active ~ .slider .bar{ margin-left: 25%; }
  .slidemenu a:active ~ .slider .bar{ margin-left: 50%; }
  .slidemenu a:active ~ .slider .bar{ margin-left: 75%; }
  

  .container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo-box {
    width: 30%;
    margin: 100px auto 0 auto;
}

.logo-box img{
  width:100%;
}

.divider-2 {
    margin: 30px auto;
    height: 3px;
    width: 220px;
    background-color: #2d2d2d;
}

.event-divider {
  margin-left: -25px;
  margin-top: 10px;
  height: 3px;
  width: 150px;
  background-color: #2d2d2d;
}

.content {
  position: relative;
  z-index: 4;
}

.content .motto {
  font-size: 28px;
    color: #2d2d2d;
    text-align: center;
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 140px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0.7,0.7,0.7,0.7);
  transition: 0.5s;
  background: whitesmoke;
  margin-right: 20px;
  border-radius: 25px;
  width: 600px;
}

.main {
  display: flex;
  align-items: flex-start;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  grid-gap: 10px;
  padding: 40px;
  margin-left: 15px;
}

.details h2 {
  padding: 2px 16px;
  text-align: center;
}

.description {
  padding: 2px 16px;
}

.details {
  flex: 1;
  padding: 10px;
  margin-top: 10px;
}

p .desp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.event-type{
  margin: 30px auto;
  width: 150px;
  font-size: 30px;
}

.image-holder{
  text-align: center;
  padding: 26px;
  max-width: 100%;
  height: auto;
}

img {
  border-radius: 25px;
  width: 300px;
  max-height: 185px;
}

.footer {
  background-color: rgba(96, 139, 168, .2);
  padding: 10px;
  display: flex;
}

.footer p {
    flex: 1;
    padding: 5px;
    margin-left: 60px;
}

.live, .upc {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.live {
  background-color: greenyellow;
}

.upc {
  background-color: grey;
}

.column {
  margin-right: 7px;
  margin-top: 6px;
}

.hover {
  transition: all 0.4s ease-in; 
  }

.hover {
  position: relative;
  /* height: 80px; */
}
 .card:hover .hover h2 {
  margin-top: 40px;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
}

.btn {
  background-color: #F27935;
}
.btn .round {
  background-color: #f59965;
}

.hover a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-left: 40px;
}

.hover a span {
  position: relative;
  z-index: 3;
}

.hover a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}

.hover a .round p {
  position: absolute;
  top: 10%;
  margin-top: -6px;
  left: 25%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 34px;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

.hover a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.hover a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.hover a:hover .round p {
  left: 12%;
}