body {
    background-color: #f9ed75;
}

body .no-scroll{
  overflow: hidden;
}
  
.clear{
  clear: both;
}
  
.slide-toggle{
  display: none;
}
  
.slidemenu{
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 30px auto;
  overflow: hidden;
}
  
.slidemenu a label{
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;
}
  
.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}
  
.slidemenu label span{
  display: block;
  padding: 10px;    
}
  
.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}
  
/*Bar Style*/
.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}
  
.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}
  
/*Animations*/
.slidemenu a, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}
  
/*Toggle*/
.slidemenu a:active {
  opacity: 1;
}
  
.slidemenu a:active ~ .slider .bar{ margin-left: 0; }
.slidemenu a:active ~ .slider .bar{ margin-left: 25%; }
.slidemenu a:active ~ .slider .bar{ margin-left: 50%; }
.slidemenu a:active ~ .slider .bar{ margin-left: 75%; }
  
.container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo-box {
  width: 30%;
  margin: 100px auto 0 auto;
}

.logo-box img{
  width:100%;
}

.divider-2 {
  margin: 30px auto;
  height: 3px;
  width: 220px;
  background-color: #2d2d2d;
}

.content {
  position: relative;
  z-index: 4;
}

.content .motto {
  font-size: 28px;
  color: #2d2d2d;
  text-align: center;
  margin-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 140px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0.7,0.7,0.7,0.7);
  transition: 0.5s;
  background: whitesmoke;
  margin-right: 20px;
  border-radius: 25px;
  width: 600px;
}

.main {
  display: flex;
  align-items: flex-start;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  grid-gap: 10px;
  padding: 0px 40px 40px 40px;
  margin-left: 15px;
}

.details h2 {
  padding: 2px 16px;
  text-align: center;
}

.description {
  padding: 2px 16px;
}

.details {
  flex: 1;
  padding: 10px;
  margin-top: 10px;
}

p .desp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.event-type{
  font-size: 40px;
  font-weight: 600;
  color: #020813;
  text-align: center;
}

.image-holder{
  text-align: center;
  padding: 26px;
  max-width: 100%;
  height: auto;
}

.card img {
  border-radius: 25px;
  width: 300px;
  max-height: 185px;
}

.live, .upc {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.live {
  background-color: greenyellow;
}

.upc {
  background-color: grey;
}

.column {
  margin-right: 7px;
  margin-top: 6px;
}

.hover {
  transition: all 0.4s ease-in; 
}

.hover {
  position: relative;
}

.card:hover .hover h2 {
  margin-top: 40px;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
}

.btn {
  background-color: #F27935;
}

.btn .round {
  background-color: #f59965;
}

.hover a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-left: 40px;
}

.hover a span {
  position: relative;
  z-index: 3;
}

.hover a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}

.hover a .round p {
  position: absolute;
  top: 10%;
  margin-top: -6px;
  left: 25%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 34px;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

.hover a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.hover a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.hover a:hover .round p {
  left: 12%;
}
 
/* The Modal (background) */
.popup-overlay {
	z-index: 1;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
}

.popup {
  overflow: auto;
  height: 82%;
  display: block;
  background-color: white;
  top: 50px;
  opacity: 1;
  margin: 0 auto;
  width: 50%;
  border-radius: 20px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
  box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.17);
  padding: 10px;
}

/* The Close Button */
.popup-close {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 50px;
  font-weight: bolder;
}

.popup-close:hover,
.popup-close:focus {
  color: black;
  text-decoration: none;
	cursor: pointer;
}

.popup-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.popup-title {
  margin: 0;
  color: #149dcc;
  line-height: 1.7;
  position: relative;
  left: 40%;
}

.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem; 
}

.popup img {
  width: 90%;
  height: auto;
  max-height: 250px;
  margin-left: 1.8rem;
}

.popup-description {
  padding: 0px 30px 10px 30px;
  font-size: 0.82rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.popup-details {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  padding: 10px;
  margin-left: 15px;
  font-size: 0.95rem;
}

.popup-footer {
  background-color: rgba(96, 139, 168, .2);
  padding: 10px;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.popup-footer p {
    flex: 1;
    padding: 5px;
    margin-left: 60px;
}

.club-gallery img {
  border-radius: 25px;
  width: 250px;
  height: auto;
  min-height: 185px;
}

.item-header{
  font-size: 20px;
  font-weight: 600;
  color: #020813;
  text-align: center;
}

.club-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  padding: 10px;
  margin-left: 15px;
  font-size: 0.95rem;
}
